:root{
	--border-color:#7B68EE;
	--border-color-hover:skyblue;
	--bg-section:#836FFF;
	--color-text:#483D8B;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html{

}

body{
	background:#ffffff;
	color:#000;
}



@media (min-width:240px) and (max-width:599px)
{
	html{
		background: var(--bg-section);
	}

	section{
		background: var(--bg-section);
		margin-top:50px;
		padding:20px;
	}

	.eye-pass{
		display:block;
		position:absolute;
		top:310px;
		right:calc(100% - 94%);
	}
}

@media (min-width:600px) and (max-width:998px){
	section{
		background: var(--bg-section);
		border-radius:5px;
		border:1px solid #7B68EE;
		box-shadow: 2px 3px 3px 3px gray;
		margin:auto;
		margin-top:100px;
		padding:10px;
		width:380px;
	}

	.eye-pass{
		display:flex;
		flex-direction: row-reverse;
		align-items: right;
		margin-left:315px;
		position:absolute;
		top:350px;
	}
}

@media (min-width:999px) and (max-width:1024px)
{
	section{
		background: var(--bg-section);
		border-radius:5px;
		border:1px solid #7B68EE;
		box-shadow: 2px 3px 3px 3px gray;
		margin:auto;
		margin-top:100px;
		padding:20px;
		width:360px;
	}

	.eye-pass{
		display:block;
		position:absolute;
		top:360px;
		right:355px;
	}
}

h1{
	color:#fff;
	margin:auto;
	padding:10px;
	text-align:center;
	width:95%;z
}

img{
	display:block;
	margin:auto;
	padding:15px;
	width:128px;
}

.user{
	background:#ffffff;
	border:1px solid var(--border-color);
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	color:#483D8B;
	font-weight:700;
	margin:10px;
	padding:10px;
	text-align:center;
	width:95%;
}

.user :hover{
	border:1px solid var(--border-color-hover);
}

.pass{
	background:#ffffff;
	color:#483D8B;
	border:1px solid var(--border-color);
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	font-weight:700;
	margin:10px;
	padding:10px;
	text-align:center;
	width:95%;
}

.pass :hover{
	border:1px solid var(--border-color-hover);
}

.lost-password{
	text-align:center;
}

.lost-password a{
	color:#000;
	font-weight:700;
	text-decoration:none;
}

.lost-password a:hover{
	color:#000;
	text-decoration:underline;
}

.new-account{
	margin-top:10px;
	text-align:center;
}

.new-account a{
	color:#000;
	font-weight:700;
	text-decoration:none;
}

.new-account a:hover{
	color:#000;
	text-decoration:underline;
}

button{
	border:1px solid var(--border-color);
	border-radius:5px;
	color:#483D8B;
	font-weight:700;
	margin:10px;
	margin-bottom:10px;
	padding:10px;
	text-align:center;
	width:95%;
}


